@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR';
}

body {
  width: 100%;
  min-width: 360px;
  max-width: 480px;
  height: 100dvh;
  margin: 0 auto;
  background-color: white;
  -ms-overflow-style: none;
  position: relative;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
}

.children-container {
  height: calc(100% - 67px);
  overflow: scroll;
}

/* fonts */

/* navBar */
.fonts-navBar {
  font-family: 'Noto Sans KR';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 15.6px */
  letter-spacing: -0.03125rem;
}

/* 로그인 서비스 설명 폰트 */
.fonts-loginSubtitle {
  color: #333333;

  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  letter-spacing: -0.0625rem;
}

.fonts-onboardingNumber {
  color: #333333;

  font-family: 'Noto Sans KR';
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 78px */
  letter-spacing: -0.03125rem;
}

.fonts-onboardingQuestion {
  color: #333333;

  font-family: 'Noto Sans KR';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  letter-spacing: -0.03125rem;
}

.fonts-onboardingKeyword {
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.03125rem;
}

.fonts-onboardingBtn {
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.03125rem;
}

/* 검색 placeholder 폰트 */
.fonts-searchPlaceholder {
  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0625rem; /* 121.429% */
  letter-spacing: -0.03125rem;
}

/* 추천 제목 폰트 */
.fonts-recommendTitle {
  color: #333333;

  font-family: 'Noto Sans KR';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
  letter-spacing: -0.03125rem;
}

/* 추천 부제 폰트 */
.fonts-recommendSubtitle {
  color: #808080;

  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: -0.03125rem;
}

/* 추천에 뜬 코스 이름 폰트 */
.fonts-courseName {
  color: white;

  font-family: 'Noto Sans KR';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 15.6px */
  letter-spacing: -0.03125rem;
}

/* 추천에 뜬 코스 위치 폰트 */
.fonts-courseLocation {
  color: white;

  font-family: 'Noto Sans KR';
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 13px */
  letter-spacing: -0.03125rem;
}

/* 지역별 코스 찾기에서 지역 이름 폰트 */
.fonts-regionName {
  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
  letter-spacing: -0.03125rem;
}

/* 코스 상세 페이지에서 코스 설명 */
.fonts-detailDescription {
  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: -0.00625rem;
}

/* 코스 상세 페이지에서 세부사항, 블로그 내용 요약 */
.fonts-detail {
  color: #808080;

  font-family: 'Noto Sans KR';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 0.975rem */
  letter-spacing: -0.03125rem;
}

/* 블로그 포스팅 제목*/
.fonts-blogTitle {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.3rem */
  letter-spacing: -0.03125rem;
}

/* 마이 페이지 최상단 제목*/
.font-mypageTitle {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.03125rem;
}

.font-mypageNickname {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.03125rem;
}

.font-mypageLevel {
  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: -0.03125rem;
}

.font-mypageDetail {
  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: -0.03125rem;
}

.fonts-errorTitle {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.03125rem;
}

.fonts-errorSubtitle {
  color: #808080;

  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: -0.03125rem;
}

.fonts-logLocations {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: -0.03125rem;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.fonts-logOneLocation {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.4625rem */
  letter-spacing: -0.03125rem;
}

.fonts-logContent {
  color: #808080;

  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0625rem; /* 121.429% */
  letter-spacing: -0.03125rem;
}

.fonts-logDone {
  color: #fff;

  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.3rem */
  letter-spacing: -0.03125rem;
}

.fonts-newLogContent {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: -0.03125rem;
}

.fonts-searchingCourse {
  font-family: 'Noto Sans KR';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.03125rem;
}

.fonts-confirmRed {
  color: #fa000a;

  font-family: 'Noto Sans KR';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
  letter-spacing: -0.03125rem;
}

.fonts-confirmGray {
  color: #b3b3b3;

  font-family: 'Noto Sans KR';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 133.333% */
  letter-spacing: -0.03125rem;
}
