@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 사파리 웹 뷰 브라우저 상속 스타일 제거 */
input,
textarea,
button {
  border-radius: 0;
  outline: none;
  appearance: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
#root {
  height: 100dvh;
}

body {
  width: 100%;
  height: 100%;
}

html,
body {
  overflow-x: hidden;
  background-color: white;
}

#root,
body,
html {
  max-width: 393px;
  margin: 0 auto;
  padding: 0;
  -ms-overflow-style: none; /* 인터넷 익스플로러  스크롤바 숨김 */
  scrollbar-width: none; /* 파이어폭스 스크롤바 숨김 */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 스크롤바 숨김 */
}

button {
  border: none;
  background: none;
  font: inherit;
}

/* fonts는 className에 추가해서 사용하면 돼 ! */
/* fonts */
.fonts-onboardingNumber {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 78px */
  letter-spacing: -0.5px;
}

.fonts-onboardingQuestion {
  color: #333;

  font-family: 'Noto Sans KR';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  letter-spacing: -0.5px;
}

.fonts-onboardingKeyword {
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.5px;
}

.fonts-onboardingBtn {
  color: #fff;

  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.5px;
}
